.card_container{
    margin: 50px 200px;
    padding: 0;
    width: 100%;
    height: auto;
    border: 1px solid #edededff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card_title{
    margin: 0;
    padding: 25px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #112e4fff;
    font-size: 23px;
    font-weight: 600;
}

.card_content{
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 0 0 5px 5px;
    color: #112e4fff;
    font-size: 20px;
}