@font-face{
    font-family: 'Pacifico';
    src: url('../../assets/fonts/Pacifico/Pacifico-Regular.ttf');
}

.footer_container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.footer_up{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e2573ff;
    color: white;
}

.footer_up img{
    width: 70px;
    height: 80px;
}

.footer_up h1{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: 100;
    padding: 0 400px;
}

.footer_middle{
    margin: 0;
    padding: 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e6afaff;
    color: white;
    font-size: 15px;
}

.footer_buttom{
    margin: 0;
    padding: 5px;
    width: calc(100% - 10px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_bottom{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #9da9b6ff;
    font-size: 15px;
}