.historia_container{
    margin: 50px auto;
    padding: 40px 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.historia_container::before{
    width: 2px;
    height: 100%;
    content: '';
    position: absolute;
    left: 50%;
    background: #3e63deff;
}

.clear{
    clear: both;
}